# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# Data files (optional - remove if you want dataset in repo)
*.csv

# Mac files
.DS_Store

# VS Code
.vscode/

# Logs
*.log
